/* === MAIN PAGE === */

.main__body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 12vh;

  margin: 0 auto;
  padding-bottom: 4rem; //control space between budget and balance

  background-image: linear-gradient(
    rgba($color-primary, 1),
    rgba($color-yellow, 0.8),
    rgba(#fff, 0.5)
  );

  @include respond(tab-port) {
    padding-bottom: 8rem;
  }

  @include respond(tab-land) {
    padding-bottom: 10rem;
  }
}

.nav {
  font-size: 1.2rem;
  color: $color-white;

  @include respond(tab-port) {
    font-size: 1.5rem;
  }

  @include respond(tab-land) {
    font-size: 1.7rem;
    padding-top: 3rem;
  }

  &__navbar {
    display: flex;
    justify-content: space-around; //seperate day and date
    align-items: flex-start; //start position on the top
    padding-top: 1rem;
  }

  &__info {
    font-size: 1.6rem;
    padding-top: 1.6rem;
    padding-bottom: 1rem;

    display: flex;
    justify-content: space-around; //seperate day and date
    align-items: flex-start; //start position on the top
    background-color: $color-primary;

    @include respond(tab-port) {
      border-bottom: 0.3px solid #e94514;
    }

    @include respond(tab-land) {
      font-size: 1.8rem;
      margin-top: -2rem;
    }
  }
}

.budget {
  text-align: center;

  &__dollar {
    font-size: 3rem;
    color: $color-white;
    text-shadow: 2px 2px 6px $color-shadow;
  }

  &__amount {
    font-size: 8rem;
    color: $color-white;
    text-shadow: 2px 2px 6px $color-shadow;
  }

  &__description {
    font-size: 1.4rem;
    font-weight: bold;
  }
}

.response {
  &__button {
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-around;
  }
}

.main__balance {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  width: 94%;
  margin: 0 auto;
  padding: 2rem 0;
  box-shadow: 1px 1px 2px $color-shadow;
  border-radius: 0.5rem;

  @include respond(tab-port) {
    width: 82%;
    padding: 5rem 0;
  }

  @include respond(tab-land) {
    width: 74%;
  }

  @include respond(desktop) {
  }

  &--title {
    font-size: 1.6rem;
    text-align: center;
    padding-bottom: 1rem;

    @include respond(tab-port) {
      font-size: 1.8rem;
      padding-bottom: 2rem;
    }

    @include respond(tab-land) {
      font-size: 2rem;
      padding-bottom: 2.5rem;
    }
  }

  &--number {
    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;

    @include respond(tab-land) {
      font-size: 2.2rem;
    }
  }

  &--text {
    font-size: 1.2rem;
    text-align: center;

    @include respond(tab-land) {
      font-size: 1.7rem;
    }
  }

  &--total {
    padding-top: 2rem;
    border-top: 1px solid rgb(230, 229, 229);
    width: 94%;
    margin: 0 auto;

    display: flex;
    justify-content: space-evenly;
  }

  &--add {
    padding-top: 0.8rem;

    display: flex;
    justify-content: center;
  }

  &--add img {
    width: 1.8rem;

    @include respond(tab-land) {
      width: 2.2rem;
    }
  }
}
